<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Pig Latin</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
		<script src="http://code.angularjs.org/angular-1.0.0rc3.min.js"></script>
		<script type="text/javascript" src="scripts/piglatin.js"></script>
	</head>
	<body>
		<div class="content" ng-controller="PigLatin">
			<div class="col-sm-6">
				<div class="row">
					<p>Please enter the english word or phrase that you want to convert here:</p>
				</div>
				<div class="row">
					<input type="text" ng-model="textToConvert" class="inp-convert">
					<button id="convert" class="btn" ng-click="convertToPigLatin()">Convert</button>
				</div>
				<div class="row">
					<div id="error"></div>
				</div>
				<div class="row">
					<h4>Converted word:</h4>
				</div>
				<div class="row">
					<p>{{convertedInput}}</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<h4>Previous words:</h4>
				</div>
				<div class="row">
					<ul class="ul-previoius-words">
						<li class="li-word" ng-repeat="word in previousWords | limitTo:10" ng-if="previousWords.length !== 0">
							{{word}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		<footer class="footer">
			<hr />
			<p>Angular app created to test out angular</p>
		</footer>
	</body>
</html>
